//Colors

//Primary

$blue: hsl(246, 80%, 60%);

$light-red: hsl(15, 100%, 70%);
$soft-blue: hsl(195, 74%, 62%);
$light-red: hsl(348, 100%, 68%);
$lime-green: hsl(145, 58%, 55%);
$violet: hsl(264, 64%, 52%);
$soft-orange: hsl(43, 84%, 65%);

//Neutral

$very-dark-blue: hsl(226, 43%, 10%);
$dark-blue: hsl(235, 46%, 20%);
$desaturated-blue: hsl(235, 45%, 61%);
$pale-Blue: hsl(236, 100%, 87%);

//Font family
$font-primary: 'Rubik', sans-serif;

@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500&display=swap');

*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
}

body {
    font-family: $font-primary;

    display: flex;
    justify-content: center;
    align-items: center;

    min-height: 100vh;
}